[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/dart-vim-plugin"]
	path = .vim/bundle/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-racer"]
	path = .vim/bundle/vim-racer
	url = https://github.com/ebfe/vim-racer
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
    url = https://github.com/majutsushi/tagbar.git
    ignore = dirty
[submodule ".vim/bundle/SimpylFold"]
	path = .vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-yaml-folds"]
	path = .vim/bundle/vim-yaml-folds
	url = https://github.com/pedrohdz/vim-yaml-folds.git
[submodule ".vim/bundle/gruvbox-material"]
	path = .vim/bundle/gruvbox-material
	url = https://github.com/sainnhe/gruvbox-material.git
